@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*
*initial gra gra
*/

h1, h2, h3, h4 {
    padding:0;
    margin:0;
}
body {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

/*
*first-section and everything it
*/
#topnav {
    background:rgba(82, 2, 82, 0) !important;
    border:none !important;
    position: absolute;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#first-section {
    overflow: hidden;
    padding:0;
    width:100%;
}
.curve-container {
    padding:0;
    height: 500px;
    background-image:url(../toldya.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 50% 50%;
    transform:scaleX(1.5);
    overflow:hidden;
    margin:0;
}

.content {
    /*background:rgba(128, 0, 128, 0.219);*/
    position: absolute;
    padding-top:200px;
    width:100%;
    text-align: center;
    z-index: 3;
}
.top-heading {
    font-weight:600;
}

#learnmore {
    padding:80px;
    padding-bottom:0px;
}

#intro {
    background:rgba(82, 2, 82, 0.788);
    margin:0;
    padding:150px 0 0 0;
    height: 100%;
    position: relative;
}

@media only screen and (max-width: 600px) {
    #first-section{
        height:500px;
    }
    .top-heading {
        font-size:35px;
    }
    #intro {
        padding:80px 0 0 0;
    }
    #learnmore {
        padding-top:30px;
    }
  }

/*
*second-section and everything it
*/
#second-section {
    width:100%;
    padding:100px;
    background-image:url('../bg\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.chapters {
    padding-top:60px !important;
}

#quoteslide {
    cursor:pointer;
    margin:0;
    padding:50px;
}
#quoteslide .indicator-item {
    background-color:rgba(17, 14, 14, 0.356) !important;
}
#quoteslide .indicator-item.active {
   background-color:black !important;
}

#quoteslide .carousel-item {
    padding:50px;
    margin:0;
}

@media only screen and (max-width: 600px) {
   .chapters {
       padding-top:50px !important;
   }
  }

/*
*Articles section
*/
.article-section {
    padding:100px;
}

.article-section .row .col {
    padding:50px;
}

@media only screen and (max-width: 600px) {
    .article-section {
        padding:20px;
    }
   }



/*
*third-section and everything it
*/
#third-section {
    height:560px;
    padding:0;
    background-image:url(../Gate.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.whiteoverlay {
    height: 100%;
    padding:10%;
    background-repeat: no-repeat;
    background-size: cover;
 }
/*
*fourth-section and everything it
*/
#fourth-section {
    padding:60px;
    background-image:url('../bg\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

#fourth-section h3 {
    margin-bottom:30px;
}

#nameslide {
    height:140px !important;
    cursor: pointer;
}
 .patriots {
     margin:50px;
 }

/*other*/
.right li a {
    font-weight: 500;
}

.section-heading {
    font-weight:500;
}
.curved-btn {
    border-radius:20px;
}

.fancy-btn {
    border:2px solid purple;
    background:white !important;
    color:purple;
}
 .indicator-item {
     background-color:rgba(255, 255, 255, 0.356) !important;
 }
 .indicator-item.active {
    background-color: white !important;
}

@media only screen and (max-width: 600px) {
    .section-heading {
        font-size:30px;
    }
  }